<p><%= link_to "address", :controller => "addresses" %></p>
<p><%= link_to "group", :controller => "groups" %></p>
<p><%= link_to "template", :controller => "templates" %></p>
<p><%= link_to "email", :controller => "emails" %></p>